
#overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	
	background-color: rgba( #fff, 0.75 );
	
	//display:table;
	
//	>div {	
//		display: table-cell;
//		vertical-align: middle;
//	}
}

#overlay.show {
	display:block;
}

#dialog_wrapper {
	position: absolute;
	top: 128px;
	width: 100%;
	text-align: center;
}
#dialog {
	
	font-family: "Open Sans Condensed";
	input, button, textarea {
		font-family: "Open Sans Condensed";
	}
	margin-bottom: 32px;
	padding: 16px;
	display: inline-block;
	width: 323px;
	max-width: 90%;
	min-height: 16px;
	background-color: $cl_white;
	//border-radius: 9px;
	border: 1px solid #666;
	box-shadow: 5px 5px 9px rgba( #000, 0.3 ),  inset 0px 0px 3px 5px rgba( #000, 0.15 );
	text-align: left;
	background-color: #fcfaf8;
	border-radius: 4px;
	label {
		@include  no-select;
	}
	
	.title {
		font-weight: bold;
		font-size: 24px;
		cursor: default;
		text-align: center;
		margin-bottom: 24px;
		margin-top: -8px;
		//border-bottom: 1px solid rgba( #000, 0.25 );
	}
	
	.desc {
		font-weight: normal;
		font-size: 18px;
		cursor: default;
		text-align: center;
		margin-bottom: 12px;
		margin-top: -8px;
		border-bottom: 1px solid darken( $cl_white, 25% );
	}
	
	.textinput {
		border: none;
		outline: none;
		border-radius: 8px;
		@include light-box-shadow;
		padding: 4px 8px;
		border: 2px solid #ccc;
		max-width: 85%;
		&:focus {
			border-color: $cl_hl; //2px solid #159;
		}
		
		&.error {
			border-color: $cl_red;
		}
	}
	
	.submitinput {
		margin-top: 12px;
	}
	
	
	#button_createaccount {
		
	}
	
	.optdesc {
		font-size: 90%;
		padding-bottom: 4px;
	}
	.fieldname {
		font-weight: 700;

	}
	
	.profile_entry {
		padding: 4px;
		//border-bottom: 16px solid rgba( #000, 0.05 );
	}
//	.profile_entry:nth-child(even) {
//		background-color: rgba( #000, 0.03 );
//	}
	
	#profile_selfbuttons.hidden {
		display:none;
		
	}
	/*
	.profile_content_wrapper.loading {
		display:none;
	}*/
	
	.profile_content_loading_text {
		text-align:center;
		font-size: 70%;
		padding: 16px;
	}
	
	.view_profile_button {
		@media (max-width:370px) {
			display:block;
			width:60%;
			
		}
	}
}

#dialog_error {
	visibility: none;
	color: white;
	transition: color 0s;
}

#dialog_error.visible {
	visibility: inherit;
	color: red;
	transition: color 1s;
}
	
.dialog_createaccount .dialog_error {
	margin-bottom: 16px;
}
.dialog_createaccount hr {
	border:none;
	border-bottom: 1px solid rgba( #000, 0.50 );
}

#dialogtemplates  {
	display: none;
}
