
$bgcolor: #F8CC8A;
//$cl_bg: #FCFBE3;     // Vanilla Cream (yellow)
//$cl_bg: #82BF9A; // teenage robot (green)
//$cl_bg: #EDAA65;
$cl_bg: #6CD4FB; // blue stone (light blue)
$cl_topbar: #93406D; // A Flower's Secrets
$cl_white: #f7f7f7;
$cl_black: #111711;

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: $cl_bg;
	color: $cl_black;
	
	font: {
		family: 'Open Sans';
		size: 18px;
		weight: 400;
	}
}

.thought {
	background-color: $cl_white;
	border-radius: 7px;
	border-radius-top-left: 1px;
	padding: 8px 16px;
	margin-right: 6px;
	margin-bottom: 6px;
	display: inline-block;
	box-shadow: 2px 2px 6px rgba( #000, 0.06 );
	transition: background-color 0.5s;

	cursor: pointer;
	@include no-select;
	
	&:hover {
		transition: background-color 0s;
		background-color: lighten( $cl_white, 25% );
		box-shadow: 0px 0px 6px rgba( #fff, 0.7 ), 
					2px 2px 6px rgba( #000, 0.06 );
	
		
	}
	&:active {
		transition: background-color 0s;
		background-color: darken( $cl_white, 5% );
		box-shadow: 2px 2px 6px rgba( #000, 0.06 );
		
	}
}

input {
	width: auto;
}

.test {
	font-size: 32px;
	display:inline-block;
    transition: all 0.2s ease-out;
}

.topbar {
	background-color: $cl_topbar;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 128px;
	//box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	display: table;
	.query {
		display: table-cell;
		
		margin: 0px auto;
		width: 300px;
		height: 100%;
		padding: 16px;
		text-align:center;
		
		input {
			font: {
				family: 'Open Sans';
				size: 22px;
				weight: 300;
			}
			width: 300-32px;
			border-radius: 9px;
			border: none;
			padding: 7px 16px;
			background-color: lighten( $cl_topbar, 75%);
			outline: none;
			&:focus {
				
				box-shadow: 0px 0px 16px lighten($cl_topbar, 20%);
			}
		}
		
	}
	
}
