
$bgcolor: #F8CC8A;
$cl_bg: #FCFBE3;     // Vanilla Cream
$cl_topbar: #93406D; // A Flower's Secrets
$cl_white: #f7f7f7;
$cl_black: #111711;

body {
	background-color: $cl_bg;
	color: $cl_black;
	
	font: {
		family: 'Open Sans';
		size: 18pt;
	}
}

.topbar {
	background-color: $cl_topbar;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 128px;
	//box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	display: table;
	.query {
		display: table-cell;
		
		margin: 0px auto;
		width: 300px;
		height: 100%;
		padding: 16px;
		text-align:center;
		
		input {
			font: {
				family: 'Open Sans';
				size: 22px;
				weight: 300;
			}
			width: 300-32px;
			border-radius: 9px;
			border: none;
			padding: 7px 16px;
			background-color: lighten( $cl_topbar, 75%);
			outline: none;
			&:focus {
				
				box-shadow: 0px 0px 16px lighten($cl_topbar, 20%);
			}
		}
		
	}
	
}
