
$bgcolor: #F8CC8A;
//$cl_bg: #FCFBE3;     // Vanilla Cream (yellow)
//$cl_bg: #82BF9A; // teenage robot (green)
//$cl_bg: #EDAA65;
//$cl_bg: #115533;
$cl_red: #fe0201;
$cl_bg: #6CD4FB; // blue stone (light blue)
//$cl_bg: #00B4FF; // aural blue
$cl_hl: complement( $cl_bg );
$cl_topbar: #93406D; // A Flower's Secrets
$cl_white: #f7f7f7;
$cl_black: #171711;

$topbar_height: 48px;

@mixin light-box-shadow {
	box-shadow: 2px 2px 6px rgba( #000, 0.06 );
}

@mixin light-box-shadow-glow {
	box-shadow: 0px 0px 6px rgba( #fff, 0.76 ), 
				2px 2px 6px rgba( #000, 0.06 );
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background-color: $cl_bg;
	color: $cl_black;
	text-align: center;
	
	font: {
		family: 'Open Sans Condensed';
		size: 18px;
		weight: 300;
	}
	
	margin: 6px;
	overflow:hidden;
}

input ,button { 
	font: {
		family: 'Open Sans Condensed';
		size: 18px;
		weight: 300;
	}
}

@import "magicboxes";

#content {
	max-width: 800px;
	margin: auto;
	opacity: 0;
	opacity: 0.25; // debug
	transition: opacity 0.5s;
	
	h2 {
		margin-top: 27px;
		font-size: 20px;
		@include no-select;
		cursor: default;
	}
	
	&.visible {
		opacity: 1;
	}
}

#margintop {
	height: $topbar_height + 16 + 64;
}

@import "discovery";
@import "newlink";
@import "topbar";
@import "dialog";
