
.newlink {
	
	position: relative;
	background-color: $cl_white;
	border-radius: 16px;
	@include light-box-shadow;
	padding: 14px 40px 16px;
	width: auto;
	margin:auto;
	display: inline-block;
	
	input {	
		text-align: center;
		font-size: 28px;
		min-width: 150px;
		max-width: 200px;
		width: 100px;
		background: none;
		border: none;
		border-bottom: 1px dotted rgba($cl_black,0.25);
		outline: none;
		
		
		&.following {
			
			border-color: transparent;
		
			opacity: 0.7;
			transition: opacity 0.5s, border-color 0.5s;

		}
	}
	
	form {
		margin: 0px;
	}
	
	.loader {
		position: absolute;
		right: 11px;
		top: 29px;
	}
}
