
#top {
	background-color: $cl_white;
	//opacity: 0.1; 
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $topbar_height;
	padding: 8px 0px;
	@include light-box-shadow;
	//box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	text-align:center;
	#logo {
		// todo: the sliding offscreen borks firefox
		// when zooming
		
		width: 120px;
		height: 48px;
	 
		fill: $cl_black;
					
		position: fixed;
		left: 4%;
		transition: left 0.5s,
					fill 0.25s;
		top:3px;
		display: inline-block;
		cursor: pointer;
		
		
		@media (max-width:470px) {
			left: -200px;
			
		}
	}
	
	#logo:hover {
		fill: $cl_hl;
	}
	
	#logo:active {
		fill: darken( $cl_hl, 25% );
	}

	#query {
		font: {
			family: 'Open Sans Condensed';
			size: 24px;
			weight: 700;
		}
		background: none;
		border: none;
		position: relative;
		top: 1px;
		display: inline-block;
		width: 150px;
		text-align: center;
		min-height: 34px;
		border-bottom: 1px dotted rgba($cl_black,0.25);
		outline: none;
		
		&.pointout {
			//border-top: 1px dotted rgba($cl_black,0.25);
			//border-top: 1px solid rgba( #000, 0.45 );
			border-radius: 8px;
			//box-shadow: 0px 0px 3px $cl_hl;
			border-left: 2px solid $cl_hl;
			border-right: 2px solid $cl_hl;
		}
	}
	
	#user {
		position: absolute;
		right: 16px;
		top: ($topbar_height + 16) / 2 - 17;
		//width: 32px;
		height: 32px;
		color: $cl_black;
		transition: color 0.25s, top 0.25s, width 0.25s, height 0.25s, font-size 0.25s;
		vertical-align: middle;
		line-height: 34px;
		
		cursor: pointer;
		
		
		.icon {
			color:inherit;
			font-size: 24px;
		//	display: inline-block;
			//position: absolute;
		//	right: -30px;
		//	top: 0px;
		
			position: relative;
			top: 2px;
		}
		
		span {
		//	position: relative;
		//	top: 3px;
			transition: opacity 0.5s;
			@media (max-width:500px) {
				display: none;
			}
		}
		
		@media (max-width:500px) {
		//	top: ($topbar_height + 16) / 2 - 8;
			
	//		height: 16px;
	//		font-size: 18px;
			
			
		}
		
	}
	#user:hover {
		color: $cl_hl;
	}
	
	#loader_top {
		position: absolute;
		left: 16px;
		top: 20px;
		transition: left 0.5s;
		//@media (max-width:470px) {
	//		left: 16px;
	//		
	//	}
	}
	
//	#user:active {
//		transition: color 0s, top 0.25s, width 0.25s, height 0.25s, font-size 0.25s;
//		fill: darken($cl_hl,25%);
//	}
}
