
#content {
//************************

.welcome {
	
	font-size: 20px;
	
	text-shadow: 1px 2px 5px lighten( $cl_bg, 10% );
	
	h1 {
		font-size: 26px;
		font-weight: 600;
	}
	
	h3 {
		font-weight: 300;
		font-style: oblique;
		font-size: 30px;
	}
	
	
	p {
		text-align: justify;
		@media (max-width:600px) {
			// justify looks like shit on small width
			text-align: left;
			
		}
	}
	
	.stats {
		font-weight: 700;
		@media (max-width:400px) {
			// justify looks like shit on small width
			font-size: 0.8em;
			
		}
	}
	
	#biglogo {
		width: 350px;
		max-width: 90%;
		margin-top: -30px;
	}
	margin-bottom: 160px;
}

//************************
}